@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Торта Гараш</h2
            <h5>December 5, 2022</h5>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Db9TMtoaZwBc&psig=AOvVaw2VfJhyNx-wQQB-QhIlOjkw&ust=1685187739307000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCJCm_dfzkv8CFQAAAAAdAAAAABAD"alt="earring"width="200"align="right"/>
            <p>Уникалната торта Гараш ще ви изненада с нова рецепта и неповторим вкус. </p>
        </div>
    </div>
</div>





