@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
</div>

 <head>
</head>
<body>

    

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>Footer</p>
    </div>

