@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>


<p>
    Историята на Сладкарница "Стевия" започва на 22 януари 1999г.,когато ние решихме да стартираме бизнеса си с направата </br>
    на една уникална и неповторима сладкарница.</br>

    Използваме висококачествени продукти, от които сметана от краве мляко, прясно краве масло, пресни яйца и други, </br>
    както се е правело в старите виенски сладкарници. Работим с едни и същи доставчици от години и рядко ги заменяме.</br> 
    Закупуваме по-скъпи суровини и не допускаме компромис с качеството.</br>

    Всяка една от тортите ни е ръчно изработена. Сутрин изпичаме блатовете и ги нарязваме. <br />
    Сами ги намазваме със сметана и крем. На ръка сиропираме и украсяваме всяка една от тортите си.</br>
    Магията на сладкарството е в ръчната изработка.</br>

    Нашите торти не са замразявани в нито един от етапите на производство и съхранение.</br>
    Това е основна причина за страхотния свеж вкус на тортите.

    Ние, творците от Сладкарница "Стевия", вярваме, че качествените продукти, уникалният вкус и ръчната изработка са част от причините,</br>
    с които печелим Вашето доверие с години наред.</br>

    Наша лична мисия е всеки ден с много любов и внимание да осигурим на Вас, нашите клиенти, качество, уют и стабилност.</br>
    Независимо какъв е поводът, нашият екип от професионални сладкари и талантливи декоратори създава уникални торти с красив дизайн.</br>

    При нас ще откриете…
    Зашеметяващо разнообразие от стандартни торти и богато изобилие от тематични торти: Сватбени, Детски, торти за бебета, <br />
    торти за Кръщене, торти за Моминско и Ергенско парти, с които допринасяме за сладкия завършек на Вашия празник.</br>

    Поднесете комплименти към Вашите гости под формата на тематични мъфини, декорирани меденки и френски макарони.</br>

    Имаме и собствена Пекарна…
    В нея произвеждаме малки количества, защото използваме само най-добрите продукти.</br>

    Ароматни сладки и соленки от нашата Пекарна могат да бъдат прясно изпечени за Вас по индивидуална поръчка.</br>
</p>
